:root{
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royale-blue: hsl(241, 81%, 54%);

    /* circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* fonts */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

}

*{
    box-sizing: border-box;
}

p{
    font-size: 18px;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
}

.result{
    padding-top: 0.5rem;
    height: 20rem;
    width: 100%;
    background: linear-gradient(#6743ff, #322aea);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.result p {
    text-align: center;
    color: var(--light-lavender);
}

.circle{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.circle .sum {
    color: var(--white);
    margin: 1.5rem;
    padding: 0;
    height: 1rem;
    font-size: 3rem;
    font-weight: 700;
    opacity: 1;
}

.circle p{
    color: var(--light-lavender);
    opacity: 0.5;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.result h3{
    display: block;
    color: var(--white);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.word-rating{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-lavender);
    opacity: 0.8;
}

.summary{
    width: 80%;
    margin: 0 auto;
}

.summary > p{
    color: var(--dark-gray-blue);
    font-weight: bolder;
}

.result-part{
    height: 3.2rem;
    border-radius: 0.6rem;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
}


.result-part p{
    vertical-align: middle;
    opacity: 1;
    font-size: 1rem;
    width: 50%;
    padding: 1rem 0.5rem;
    margin: 0;
}


.points-earned {
    text-align: end;
    display: inline-block;
}

.points-earned span{
    margin: 0 0.1rem;
    font-weight: 800;
}

.points-earned span:nth-child(2),  .points-earned span:nth-child(3){
    color: hsla(224, 30%, 27%, 50%);
}

.category{
    margin-left: 0.2rem;
}


.icon{
    position: relative;
    top: 0.25rem;
}

.reaction {
    color: var(--light-red);
}

.reaction-part{
    background: hsla(0, 100%, 67%, 10%);
}
.memory-part {
    background-color: hsla(39, 100%, 56%, 10%);
}

.memory {
    color: var(--orangey-yellow);
}

.verbal-part{
    background-color: hsla(166, 100%, 37%,10%);
}
.verbal{
    color: var(--green-teal);
}

.visual-part {
    background-color: hsla(234, 85%, 45%, 10%);
}

.visual {
    color: var(--cobalt-blue);
}

.continue-button{
    width: 100%;
    border: none;
    outline: none;
    height: 3.2rem;
    border-radius: 2rem;
    background-color: var(--dark-gray-blue);
    color: white;
    font-size: 1.15rem;
    margin-top: 0.4rem;
}

@media only screen and (min-width: 800px){
    main{
        grid-template-columns: 1fr 1.3fr;
        width: 50%;
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        border-radius: 1.5rem;
    }
    body{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .result{
        height: 100%;
        border-radius: 1.5rem;
    }
    .summary{
       padding: 2rem;
       width: 100%;
    }

}