@font-face {
  font-family: 'inconsolata';
  src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "inconsolata";
}

:root {
  --light-gray: #f4f4f4;
}

.searchbar{
  display: flex;
  background-color: var(--light-gray);
  width: 80%;
  height: 2rem;
}

#wordIpt {
  text-decoration: none;
  background-color: inherit;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
}

#findWord {
  border: none;
  text-decoration: none;
  outline: none;

}